<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <title>help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>
</html>
